:root {
    --color-palette-tan: #ECCE8E;
    --color-palette-blue: #84ACCE;
    --color-palette-purple: #827191;
    --color-palette-maroon: #7D1D3F;
    --color-palette-green: #136F63;
}

.TwistApp {
    width: 40%;
    position: fixed;
    top: 0px;
    padding: 10px;
    background: var(--color-palette-tan);
    border-radius: 20px;

    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
}